.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
 .cards {
   list-style: none;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;



 }

 .list {
   font-size: 20px;


 }

 .wrap {
   display: grid;
   padding: 10px;
   border: 1px solid black;
 }
